.table {
    border: 0;
}

.table th,
.table td {
    border: 0 !important;
}

.left-align-button {
    text-align: left;
    padding-left: 10px;
}

.rounded-background {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

body {
    background-color: rgb(244, 244, 244);
    padding-right: 15px;
}

.btn-link-plain {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: inherit;
}
.btn-link-plain:hover,
.btn-link-plain:focus {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    text-decoration: underline;
}

.roundedInputBox{
    border-radius: 8px;
}